html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgba(241, 241, 241, 0.9058823529);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1600px) {
  .header-container {
    min-height: 140px;
  }
}
@media (max-width: 780px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: -100%;
    background-color: rgba(255, 255, 255, 0.971);
    padding: 110px 20px 20px 5px;
    transition: 0.2s;
    overflow-y: scroll;
  }
  .header.open .menu {
    transform: translateY(100%);
    visibility: visible;
    transition: 0.2s;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: #000;
  font-size: 14px;
  transition: 0.2s;
}

@media (min-width: 790px) {
  .menu__link:hover,
  .menu__link:active {
    color: #606060;
    border-bottom: 1px solid #606060;
    padding-bottom: 5px;
    transition: 0.2s;
  }
  .active {
    color: #606060;
    border-bottom: 1px solid #606060;
    padding-bottom: 5px;
  }
}
@media (max-width: 780px) {
  .menu__list {
    display: block;
  }
  .menu__item {
    text-align: left;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    font-size: 34px;
    display: block;
    padding: 15px 0;
    color: #606060;
    text-align: center;
  }
}
.menu__btn {
  display: none;
  width: 35px;
  height: 20px;
  border: none;
  position: relative;
  padding: 0;
  background: none;
  z-index: 2;
  margin-bottom: 8px;
}

@media (max-width: 780px) {
  .menu__btn {
    display: block;
  }
}
.menu__btn span {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #000;
  left: 0px;
}

.menu__btn span:nth-child(1) {
  transform: translateY(-10px);
  transition: 0.5s;
}

.menu__btn span:nth-child(2) {
  transition: 0.3s;
}

.menu__btn span:nth-child(3) {
  transform: translateY(10px);
  transition: 0.3s;
}

.header.open .menu__btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  transition: 0.3s;
  background-color: #606060;
}

.header.open .menu__btn span:nth-child(2) {
  opacity: 0;
  transition: 0.2s;
  background-color: #606060;
}

.header.open .menu__btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  transition: 0.3s;
  background-color: #606060;
}

.head {
  background-color: #F1F1F1;
}

.head-container {
  min-height: 245px;
  scroll-snap-align: start;
}

.head-content {
  text-align: left;
}

@media (min-width: 680px) {
  .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head-img {
    max-width: 500px;
    max-height: 615px;
  }
  .head-content {
    max-width: 500px;
  }
}
.head-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
}

.head-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.head-img img {
  width: 100%;
}

.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 90px 0;
}

.about-item {
  width: 292px;
}

@media (max-width: 680px) {
  .about-list {
    flex-direction: column;
  }
}
.about-item img {
  margin-bottom: 30px;
}

.about-item h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.about-item p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}

.portfolio {
  background-color: #F1F1F1;
  padding: 90px 0;
}

.portfolio-container {
  display: grid;
  justify-content: center;
  text-align: center;
}

.portfolio-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
}

.project {
  max-width: 930px;
  height: 500px;
  max-height: 500px;
  text-align: center;
}

.project:not(:first-child) {
  margin: 90px 0 40px;
}

.project:first-child {
  margin: 70px 0 40px;
}

@media (max-width: 720px) {
  .project {
    max-width: 315px;
    max-height: 170px;
    margin: 50px 0px 30px;
  }
}
.project img {
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 680px) {
  .project img {
    margin-bottom: 30px;
  }
}
.project h5 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.footer {
  text-align: center;
  padding: 90px 0;
}

.footer-container {
  width: 345px;
  height: 430px;
  margin: 0 auto;
  padding: 0;
}

.contacts-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 40px;
}

.contacts-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
  padding: 0 15px;
}

.contacts-btn {
  border: hidden;
  background-color: #000;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 6px 22px;
  border-radius: 30px;
  margin-bottom: 80px;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  .contacts-btn:hover {
    transition: 0.2s;
    padding: 6px 28px;
  }
  .contacts-btn:active {
    transition: 0.2s;
    padding: 6px 28px;
    background-color: #2d2d2d;
  }
}
.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 1px;
}

@media (min-width: 900px) {
  .services-item a img:hover {
    color: red;
  }
}
.footer-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
  width: 265px;
  margin: 0 auto;
}

.modal {
  visibility: hidden;
  opacity: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color: rgba(67, 67, 67, 0.922);
  transition: 0.2s;
}

.modal-open {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.modal-box {
  position: relative;
  background: #f1f1f1;
  margin: 0 15px;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0.5px 1px 5px #000;
}

.close {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  margin: 5px;
  color: #606060;
  border: none;
  background: none;
  right: 10px;
  transition: 0.2s;
}

@media (min-width: 900px) {
  .close:hover {
    transform: rotate(90deg);
    font-size: 33px;
    transition: 0.2s;
  }
  .close:active span {
    color: #2f2f2f;
    transition: 0.2s;
  }
}
.contacts-modal-form {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0 auto;
  padding: 60px 25px 25px 25px;
}

.input, .form-btn, .textarea {
  font-family: "Poppins";
  font-weight: 400;
  width: 100%;
}

.input {
  margin-bottom: 20px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 0.5px solid rgb(65, 64, 64);
}

.textarea {
  margin-bottom: 20px;
  padding: 10px;
  resize: none;
  height: 70px;
  border-radius: 5px;
  border: 0.5px solid rgb(65, 64, 64);
}

.form-btn {
  height: 40px;
  margin-top: 20px;
  background-color: #262626;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.2s;
}

@media (min-width: 900px) {
  .form-btn:hover {
    background-color: #444444;
    transition: 0.2s;
  }
  .form-btn:active {
    background-color: #262626;
    transition: 0.2s;
  }
}
body {
  min-width: 375px;
  padding: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding: 0 30px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */