.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 90px 0;
  }
  
  .about-item {
    width: 292px;
  }
  
  @media (max-width: 680px) {
    .about-list {
      flex-direction: column;
    }
  }
  .about-item img {
    margin-bottom: 30px;
  }
  
  .about-item h4 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
  }
  
  .about-item p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
  }