html {
    box-sizing: border-box;
  }
  
  *, *::after, *::before {
    box-sizing: inherit;
  }

  p {
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  
  }
  