.footer {
    text-align: center;
    padding: 90px 0;
  }
  
  .footer-container {
    width: 345px;
    height: 430px;
    margin: 0 auto;
    padding: 0
  }
  
  .contacts-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 40px;
  }
  
  .contacts-text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 40px;
    padding: 0 15px;
  }
  
  .contacts-btn {
    border: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 6px 22px;
    border-radius: 30px;
    margin-bottom: 80px;
    transition: 0.2s;
  }
  
  @media(min-width: 1024px) {
    .contacts-btn:hover {
      transition: 0.2s;
      padding: 6px 28px;
    }
    .contacts-btn:active {
      transition: 0.2s;
      padding: 6px 28px;
      background-color: #2d2d2d;
    }
  }
  
  .services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 1px;
  }
  
  @media(min-width:900px) {
    .services-item a img:hover {
      color: red;
    }
  }
  
  .footer-text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    width: 265px;
    margin: 0 auto;
  }