.header {
    background-color: rgba(241, 241, 241, 0.9058823529);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1600px) {
  .header-container {
    min-height: 140px;
  }
}
@media (max-width: 780px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: -100%;
    background-color: rgba(255, 255, 255, 0.971);
    padding: 110px 20px 20px 5px;
    transition: 0.2s;
    overflow-y: scroll;
  }
  .header.open .menu {
    transform: translateY(100%);
    visibility: visible;
    transition: 0.2s;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: #000;
  font-size: 14px;
  transition: 0.2s;
}

@media (min-width: 790px) {
  .menu__link:hover,
  .menu__link:active {
    color: #606060;
    border-bottom: 1px solid #606060;
    padding-bottom: 5px;
    transition: 0.2s;
  }
  .active {
    color: #606060;
    border-bottom: 1px solid #606060;
    padding-bottom: 5px;
  }
}
@media (max-width: 780px) {
  .menu__list {
    display: block;
  }
  .menu__item {
    text-align: left;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    font-size: 34px;
    display: block;
    padding: 15px 0;
    color: #606060;
    text-align: center;
  }
}
.menu__btn {
  display: none;
  width: 35px;
  height: 20px;
  border: none;
  position: relative;
  padding: 0;
  background: none;
  z-index: 2;
  margin-bottom: 8px;
}

@media (max-width: 780px) {
  .menu__btn {
    display: block;
  }
}
.menu__btn span {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #000;
  left: 0px;
}

.menu__btn span:nth-child(1) {
  transform: translateY(-10px);
  transition: 0.5s;
}

.menu__btn span:nth-child(2) {
  transition: 0.3s;
}

.menu__btn span:nth-child(3) {
  transform: translateY(10px);
  transition: 0.3s;
}

.header.open .menu__btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  transition: 0.3s;
  background-color: #606060;
}

.header.open .menu__btn span:nth-child(2) {
  opacity: 0;
  transition: 0.2s;
  background-color: #606060;
}

.header.open .menu__btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  transition: 0.3s;
  background-color: #606060;
}