.head {
  background-color: #F1F1F1;
}
.head-container {
  min-height: 245px;
  scroll-snap-align: start;
}
.head-content {
  text-align: left;
}

@media (min-width: 680px) {
  .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head-img {
    max-width: 500px;
    max-height: 615px;
  }
  .head-content {
    max-width: 500px;
  }
}
.head-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
}

.head-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.head-img img {
  width: 100%;
}