.modal {
    visibility: hidden;
    opacity: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(67, 67, 67, 0.922);
    transition: 0.2s;
}

.modal-open {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.modal-box {
    position: relative;
    background: #f1f1f1;
    margin: 0 15px;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0.5px 1px 5px #000;
}

.close {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin: 5px;
    color: #606060;
    border: none;
    background: none;
    right: 10px;
    transition: 0.2s;
}

@media(min-width: 900px) {
  .close:hover {
    transform: rotate(90deg);
    font-size: 33px;
    transition: 0.2s;
  }
  .close:active span {
    color: #2f2f2f;
    transition: 0.2s;
  }
}

.contacts-modal-form {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 0 auto;
    padding: 60px 25px 25px 25px;
}

.input, .form-btn, .textarea {
    font-family: 'Poppins';
    font-weight: 400;
    width: 100%;
}

.input {
    margin-bottom: 20px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(65, 64, 64);
}

.textarea {
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    height: 70px;
    border-radius: 5px;
    border: 0.5px solid rgb(65, 64, 64);
}

.form-btn {
    height: 40px;
    margin-top: 20px;
    background-color: #262626;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.2s;
}

@media(min-width: 900px) {
    .form-btn:hover {
        background-color: #444444;
        transition: 0.2s;
    }
    .form-btn:active {
        background-color: #262626;
        transition: 0.2s;
    }
}