.portfolio {
    background-color: #F1F1F1;
    padding: 90px 0;
  }
  
  .portfolio-container {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  
  .portfolio-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
  }
  
  .project {
    max-width: 930px;
    height: 500px;
    max-height: 500px;
    text-align: center;
  }
  
  .project:not(:first-child) {
    margin: 90px 0 40px;
  }

  .project:first-child {
    margin: 70px 0 40px;
  }
  
  @media(max-width: 720px) {
    .project {
      max-width: 315px;
      max-height: 170px;
      margin: 50px 0px 30px;
    }
  }
  
  .project img {
    width: 100%;
    margin-bottom: 40px;
  }
  
  @media(max-width: 680px) {
    .project img {
      margin-bottom: 30px;
    }
  }
  
  .project h5 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }