@import '_base';
@import '_header';
@import '_home';
@import '_about';
@import '_portfolio';
@import '_footer';
@import '_modal';

  body {
    min-width: 375px;
    padding: 0;
    margin: 0;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .container {
    padding: 0 30px;
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  }